.snackbar {
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 10px;
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
    border-radius: 10px;
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
    cursor: pointer;
    /* to center it horizontally */
    width: 400px;
    margin-left: -200px;
    left: 50%;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */


/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

.fa-exclamation-triangle {
    padding: 0 10px 0 0;
}