.landing {
    display: flex;
    flex-direction: column;
}

.header-container {
    display: flex;
    flex-direction: column;
    background-image: url(../../images/landing-background/6284.jpg);
    background-size: cover;
    background-position: top;
    height: 30vh;
    
}

.header__nav {
    display: flex;
    flex-direction: row;
}

.header__main {
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.button-error {
    margin: auto;
}


.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
}

.nav-link {
    cursor: pointer;
}

.allGames__container {
    display: block;
}

.allGames__head {
    display: block;
    text-align: center;
    justify-content: center;
}

.allGames__totalPages {
    display: inline-block;
}

.allGames__body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.gamelist__loadMore {
    width: fit-content;
    margin: 20px auto;
    padding: 5px;
    color: grey;
    cursor: pointer;
}

.gamelist__loadMore:hover {
    transition-property: all;
    transition-duration: 200ms;
    color: black;
}

.filter_input {
    margin: 10px auto;
    border: 1px solid grey;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 4px rgb(70, 50, 100);
}

.main-navbar{
    
}