.gameInfoModal-container {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 3;
    -webkit-transition: display 1s linear;
    transition: display 1s linear;
  }
  
  .gameInfoModal-main {
    position:fixed;
    background: white;
    width: 80%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 20px;
    height: 90vh;
    overflow: scroll;
  }

  .gameInfoModal-main__description {
    text-align: justify;
  }

  .gameInfoModal-main__title {
    font-weight: 400;
  }

  .gameInfoModal-subtitle {
    font-weight: 400;
  }

  .gameInfoModal-main__image {
    max-width:80%;
    max-height:80%;
    width: auto;
    float: left;
    margin: 10px 20px 11px 10px;
    border-radius: 10px;
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }

  .gameInfoModal-mechanics {
    background-color: #ddd;
    padding: 3px 10px;
    margin: 0 5px 10px;
    border-radius: 10px;
    color: #000;
    font-weight: 400;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.3);
    display: inline-block;
    transition: all ease 0.3s;
    font-size: 13px;
  }

  .gameInfoModal-mechanics:hover {
    color: #fff;
    background-color: #30C820;
    box-shadow: 0 0 0px 1px #30C820;
    cursor: pointer;
  }

  .gameInfoModal-close {
      position: absolute;
      top: 10px;
      right: 10px;
      border-radius: 10px;
  }

  .gameInfoModal-close:hover {
    color: #fff;
    background-color: black;
    box-shadow: 0 0 0px 1px #30C820;
    cursor: pointer;
  }