.playRegisterModal-container {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 3;
    -webkit-transition: display 1s linear;
    transition: display 1s linear;
    
  }
  
  .playRegisterModal-head {
    position:fixed;
    background: white;
    width: 80%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 20px;
    height: 60vh;
    overflow: scroll;
  }

  .playRegisterModal-form {
    position: fixed;
  }

  .playRegisterModal-head__description {
    text-align: justify;
    padding: 15px;
  }

  .playRegisterModal-head__title {
    font-weight: 400;
    text-align: center;
    padding: 10px;
  }

  .playRegisterModal-subtitle {
    font-weight: 400;
    padding: 0 15px;
  }

  .playRegisterModal-head__image-container {
    margin-left: 5%;
  }

  .playRegisterModal-head__image {
    max-width:50%;
    max-height:50%;
    width: auto;
    float: left;
    margin: 10px 20px 11px 10px;
    border-radius: 10px;
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }

  .playRegisterModal-mechanics {
    background-color: #ddd;
    padding: 3px 10px;
    margin: 0 5px 10px;
    border-radius: 10px;
    color: #000;
    font-weight: 400;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.3);
    display: inline-block;
    transition: all ease 0.3s;
    font-size: 13px;
  }

  .playRegisterModal-mechanics:hover {
    color: #fff;
    background-color: #30C820;
    box-shadow: 0 0 0px 1px #30C820;
    cursor: pointer;
  }

  .playRegisterModal-close {
      position: absolute;
      top: 10px;
      right: 10px;
      border-radius: 10px;
  }

  .playRegisterModal-close:hover {
    color: #fff;
    background-color: black;
    box-shadow: 0 0 0px 1px #30C820;
    cursor: pointer;
  }