.loginModal-container {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    z-index: 3;
  }
  
  .loginModal-main {
    background-color: #807c90;
    min-height: 500px;
    width: 300px;
    margin: auto;
    transform: translateY(30%);
    position: relative;
    opacity: .9;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
    color: white;
    font-weight: 600;
    padding: 0 20px;
  }

  .loginModal-main__title {
    font-size: 2rem;
    color: #ffcc88;
    padding: 20px 0;
    font-weight: 600;
  }

  .loginModal-main > form {
    display: flex;
    flex-direction: column;
  }

  .loginModal-subtitle {
    font-weight: 400;
    padding: 0 15px;
  }

  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }

  .loginModal-close {
    position: absolute;
    top: 10px;
    left: 15px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: .3s;
    user-select: none;
    background: transparent;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 2rem;
    cursor: pointer;
  }

  .loginModal-close:hover {
    color: blueviolet;
  }

  .loginModal-main__input {
    border: none;
    border-radius: 5px;
    padding: 3px 5px;
    text-align: center;
    margin-bottom: 20px;
    transition: .3s;
    cursor: pointer;
    user-select: none;
  }

  .loginModal-main__input:hover, .loginModal-main__input:active {
      border: none;
    box-shadow: 3px 2px 10px #101010;
  }

  .loginModal-main__button {
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px black;
    background-color: #303071;
    margin-bottom: 20px;
    border: none;
    user-select: none;
    color: white;
    font-weight: 600;
    transition: .3s;
  }

  .loginModal-main__button:hover {
    background-color: blueviolet;
  }