.playSaveModal-container {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 3;
    -webkit-transition: display 1s linear;
    transition: display 1s linear;
    
  }
  
  .playSaveModal-head {
    position:fixed;
    background: white;
    width: 80%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 20px;
    height: 60vh;
    overflow: scroll;
  }

  .playSaveModal-form {
    position: fixed;
  }

  .playSaveModal-head__description {
    text-align: justify;
    padding: 15px;
  }

  .playSaveModal__title {
    padding-bottom: 10px;
    border-bottom: 1px solid #cec8bf;
    margin-bottom: 10px;
    font-size: 1.7rem;
    font-weight: 600;
    color: #bb8c44;
  }

  .playSaveModal-head__title {
    font-weight: 400;
    text-align: center;
    padding: 10px;
  }

  .playSaveModal-subtitle {
    font-weight: 400;
    padding: 0 15px;
  }

  .playSaveModal-head__image-container {
    margin-left: 5%;
  }

  .playSaveModal-head__image {
    max-width:50%;
    max-height:50%;
    width: auto;
    float: left;
    margin: 10px 20px 11px 10px;
    border-radius: 10px;
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }

  .playSaveModal-mechanics {
    background-color: #ddd;
    padding: 3px 10px;
    margin: 0 5px 10px;
    border-radius: 10px;
    color: #000;
    font-weight: 400;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.3);
    display: inline-block;
    transition: all ease 0.3s;
    font-size: 13px;
  }

  .playSaveModal-mechanics:hover {
    color: #fff;
    background-color: #30C820;
    box-shadow: 0 0 0px 1px #30C820;
    cursor: pointer;
  }

  .playSaveModal-close {
      position: absolute;
      top: 10px;
      right: 10px;
      border-radius: 10px;
  }

  .playSaveModal-close:hover {
    color: #fff;
    background-color: black;
    box-shadow: 0 0 0px 1px #30C820;
    cursor: pointer;
  }

.playSaveModal__form {
  display:flex;
  flex-direction: column;
}

.playSaveModal__form label {
  font-weight: 600;
  margin-right: 10px;
  margin-top: 10px
}


.playSaveModal__form label span {
  font-weight: 600;
  margin-right: 5px;
}

.playSaveModal__form label input {
  box-shadow: 2px 2px 10px black;
  border: none;
  border-radius: 5px;
  padding: 0 20px;
  user-select: none;
  margin-bottom: 10px;
}

  .playSaveModal__form  > input:first-of-type {
    padding: 0px 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 10px black;
    margin-bottom: 10px;
    text-align: center;
    user-select: none;
    cursor: pointer;
  }

  .playSaveModal__form > input:hover {
    color: blueviolet;

  }

  .playSaveModal__form select {
    margin-bottom: 20px;
    box-shadow: 2px 2px 10px black;
    border: none;
  }

  .playSaveModal__form textarea {
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 10px black;
    margin-bottom: 20px;
  }

  .playSaveModal__form button {
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px black;
    background-color: #303071;
    margin-bottom: 20px;
    border: none;
    user-select: none;
    color: white;
    font-weight: 600;
    transition: .3s;
  }

  .playSaveModal__form button:hover {
    background-color: blueviolet;
  }
