.gamelist-main__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* -webkit-align-items: center; */
    align-items: center;
    /* -webkit-justify-content: center; */
    justify-content: center;
}

.gamelist-main__title {
    text-align: center;
    margin-top: 13px;
}