/* entire container, keeps perspective */
.card-container {
    perspective: 1000px;
    margin: 12px;
}

/* flip the pane when hovered */
.card-container:hover .card {
    transform: rotateY(180deg);
    /* transform: scale(1.1); */
}

.card-container, .front, .back {
	width: 190px;
    height: 250px;
    border-radius: 5px;
}

/* flip speed goes here */
.card {
    cursor: pointer;
    border: none;
	transition: 0.5s;
	transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	box-shadow: 5px 5px 10px rgb(70, 50, 100);
}

/* front pane, placed above back */
.front {
    z-index: 3;
    background-size: cover;
    background-position: center;
}

/* back, initially hidden pane */
.back {
    overflow: scroll;
    /* background-color: rgb(111, 117, 199); */
    color: white;
    padding: 20px;
    transform: rotateY(180deg);
    background-image: linear-gradient(to top, #3b4346 0%, #3e5d91 100%);
}

.back__title {
    font-size: 15px;
    font-weight: 600;
    margin: auto;
    text-align: center;
}

.back__text {
    font-size: 12px;
    font-weight: 400;
    margin: auto;
    text-align: center;
}

.card-button {
    background-color: #ddd;
    padding: 3px 10px;
    margin: 0 5px 10px;
    border-radius: 10px;
    color: #000;
    font-weight: 400;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.3);
    display: inline-block;
    transition: all ease 0.3s;
    font-size: 13px;
    z-index: 2;
  }

  .card-button:hover {
    color: #fff;
    background-color: #30C820;
    box-shadow: 0 0 0px 1px #30C820;
    cursor: pointer;
  }

  .card-button-moreInfo {
    text-align: center;
    position: absolute;
    top: 3px;
    left: 21%;
  }

  .card-button-addRemove {
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 30px;
  }

  .card-button-savePlay {
    text-align: center;
    position: absolute;
    bottom: 40px;
    left: 30px;
  }

  /* for transitions */
  /* Appear on page-load */
.fade-appear {
    opacity: 0;
    z-index: 1;
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 300ms linear;
}

/* enter */
.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear;
}

/* exit */
.fade-exit {
    opacity: 0;
    z-index: 1;
}

.fade-exit.fade-exit-active {
    opacity: 1;
    transition: opacity 300ms linear;
}